<?xml version="1.0" encoding="utf-8"?><!-- Log Of All Activities, Broadcasts, And Permissions, Used By The App -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jordanzimmittidevelopers.com.communityservicelogger">

    <!-- Allows App To Write To External Storage For Backup, Restore, And Print Features -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allows App To Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Allows App To Add App Shortcut To Launcher -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- Basic Application Information -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/RedTheme">

        <!-- Activity UsersView -->
        <activity android:name=".UsersView">

            <!-- Tell The App To Launch Activity At Start -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity UsersAdd -->
        <activity
            android:name=".UsersAdd"
            android:label="@string/activity_users_add" />

        <!-- Activity UsersEdit -->
        <activity
            android:name=".UsersEdit"
            android:label="@string/activity_users_edit"/>

        <!-- Activity EventsView -->
        <activity
            android:name=".EventsView" />

    </application>

</manifest>